@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 a {
  text-decoration: none;
  color: #fff;
}

header h3 {
  position: absolute;
  top: 0;
  left: 0;
}

header h3 a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.intro {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  width: 50%;
  text-align: center;
  margin-bottom: 1em;
  word-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control--input {
  padding: 10px;
  color: #000;
  font-size: 20px;
  border-radius: 15px;
  width: 100%;
  outline: 0;
}

.submit-btn {
  margin-top: 1em;
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 20px;
}

.submit-btn:active {
  transform: scale(0.95);
}

.card {
  width: 550px;
  height: 470px;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  background-color: #eee; 

}

.card-title {
  color: #000;
  text-align: center;
  margin-bottom: 15px;
}

.card-title-secondary {
  text-align: center;
  color: #000;
}

.bad {
  color: red;
}

.good {
  color: green;
}

.item {
  color: #000;
  text-align: center;
  font-size: 35px;
}

/* about page */
.about-wrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-title a {
  text-decoration: none;
  color: #fff;
}

.about-wrapper h1 {
  margin-bottom: 1em;
}

.about-wrapper p {
  margin-top: 3em;
  word-wrap: wrap;
  width: 50%;
  text-align: center;
}

i:hover {
  color: #8ef9f3;
  cursor: pointer;
}

.status {
  font-weight: 700;
  color: #000;
}
